// Es estilo para el cronometro IconTextCircleTimer
$progress-circular-underlay-stroke: none
// Saca el padding de los v-text-field
$text-field-enclosed-details-padding: 0px
// Elimina el height por default de los input
$input-max-height: none
$input-label-height: none

// Tamaño de los textos para no tener que parametrizarlos a mano
$h1-font-size: 48px
$h2-font-size: 30px
$h3-font-size: 20px
$h4-font-size: 15px
$h5-font-size: 12px
$h6-font-size: 8px